name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-pnpm
      - uses: ./.github/actions/lint-js

  test:
    runs-on: ubuntu-latest
    services:
      nats:
        image: ghcr.io/epik-agent/console/nats:latest
        ports:
          - 4222:4222
          - 8222:8222
          - 9222:9222
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-pnpm
      - run: pnpm test -- --coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
